@model test_versta.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Вход";
    Layout = "_Layout";
}

<div class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="card shadow-sm animate__animated animate__fadeIn" style="min-width: 350px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Вход</h2>
            <form asp-action="Login" method="post">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="Email" placeholder="name@example.com" asp-for="Email">
                    <label for="Email">Адрес электронной почты</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="Password" placeholder="Пароль" asp-for="Password">
                    <label for="Password">Пароль</label>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input"/>
                        <label asp-for="RememberMe" class="form-check-label">Запомнить меня</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
                <input type="hidden" asp-for="ReturnUrl"/>
            </form>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Register" asp-controller="Account">Еще не зарегистрированы?</a>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <div id="liveToast" class="toast text-bg-danger border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex user-select-none">
                <div class="toast-body">
                    @error.ErrorMessage
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Закрыть"></button>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
