@model test_versta.ViewModels.OrderViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Создание нового заказа";
    Layout = "_Layout";
}

<div class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="container my-4" style="max-width: 600px">
        <div class="card animate__animated animate__fadeIn">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">@ViewData["Title"]</h2>
                <form asp-action="Create" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="SenderCity" placeholder="Город отправителя" asp-for="SenderCity">
                        <label for="SenderCity">Город отправителя</label>
                        <span asp-validation-for="SenderCity" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="SenderAddress" placeholder="Адрес отправителя" asp-for="SenderAddress">
                        <label for="SenderAddress">Адрес отправителя</label>
                        <span asp-validation-for="SenderAddress" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="RecipientCity" placeholder="Город получателя" asp-for="RecipientCity">
                        <label for="RecipientCity">Город получателя</label>
                        <span asp-validation-for="RecipientCity" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="RecipientAddress" placeholder="Адрес получателя" asp-for="RecipientAddress">
                        <label for="RecipientAddress">Адрес получателя</label>
                        <span asp-validation-for="RecipientAddress" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Weight" placeholder="Вес груза" asp-for="Weight">
                        <label for="Weight">Вес груза</label>
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="PickupDate" placeholder="Вес груза" asp-for="PickupDate">
                        <label for="PickupDate">Дата забора груза</label>
                        <span asp-validation-for="PickupDate" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Создать заказ</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}